<h1>Reservace</h1>
<table>
  <thead>
    <tr>
      <th>Zacatek</th>
      <th>Konec</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.start_date %></td>
        <td><%= session.end_date %></td>
        <td><%= session.user.email%></td>

      </tr>
    <% end %>
  </tbody>
</table>